@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

.highlighted {
  position: relative;

  > span {
    position: relative;
    z-index: 2;
  }

  --rotate-transform: rotate(-1deg);

  div {
    position: absolute;
    top: 0;
    bottom: 2px;
    left: -4px;
    right: -4px;
    transform: var(--rotate-transform);
  }

  div.highlight {
    z-index: 1;
    background-color: var(--theme-accent);
  }

  div.shadow {
    z-index: 0;
    background-color: var(--theme-accent-dark);
    transform: var(--rotate-transform) translate(3px, 5px);
  }
}

:root {
  --theme-accent: #f0c248;
  --theme-accent-dark: #F0AE48;

  font-family: DM Sans;

  #summary {
    width: 33%;
    height: 100vh;

    display: flex;
    justify-contents: center;

    /* content */
    > div {
      margin: auto;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      div#portrait {
        /* circle */
        width: 300px;
        border-radius: 50%;

        background: linear-gradient(var(--theme-accent), var(--theme-accent-dark));
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;

          /* disable interaction */
          pointer-events: none;
          user-select: none;
        }
      }

      /* name and summary */
      .text {
        margin-top: 20px;

        ul.fields {
          margin-top: 8px;

          list-style: none;
          padding-left: 0;
        }
      }
    }
  }
}
