@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
}

:root {
  font-family: DM Sans;

  #summary {
    width: 33%;
    height: 100vh;

    display: flex;
    justify-contents: center;

    /* content */
    > div {
      margin: auto;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      img {
        /* circle */
        width: 300px;
        border-radius: 50%;

        /* disable interaction */
        pointer-events: none;
        user-select: none;
      }

      /* name and summary */
      .text {
        margin-top: 20px;
      }
    }
  }
}
